<div class="page">
   <h1>Register</h1>

   <div class="ruler"></div>

   <p>So you want to register your own entity? Then this is the right place.</p>

   <p>
      All entities registrated in the City Chain Registry is subfixed with the abbrevation CC, which is short for Crypto
      Company.
   </p>

   <p>If your entity name is "Joe's Bar", then the full entity registration will be "<strong>Joe's Bar CC</strong>".</p>

   <p><strong>Registration Process</strong></p>

   <p>The registration process works as follows:</p>

   <p>First you create an identity for your entity using City Hub. This will store the identity that represents the
      entity. You will need to use <a href="https://city-chain.org/#cityhub" target="_blank">City Hub</a> also for the
      final step, which is signing the entity registration.</p>

   <p>After you have your identity published, you will be able to look it up and prefill some of the fields below.</p>

   <p><strong>Find your identity</strong></p>

   <div class="input-container">
      <input type="text" name="name" placeholder="Identity">
      <a class="button" [routerLink]="['/register']">Lookup Identity <span class="mu mu-search"></span></a>
   </div>

   <p><strong>Registration</strong></p>

   <div class="input-container">
      <input type="text" name="name" placeholder="Name">

      <select name="entity-type" id="entity-type">
         <option *ngFor="let type of organizationType" value="{{type.code}}">{{type.name}}</option>
      </select>
   </div>

   <div class="input-container">
      <input type="text" name="address" placeholder="Address">
      <input type="text" name="website" placeholder="Website">
   </div>

   <div class="input-container">
      <input type="text" name="established" placeholder="Established">
      <input type="text" name="purpose" placeholder="Purpose">
   </div>

   <div class="input-container">
      <input type="text" name="manager" placeholder="Manager">
      <input type="text" name="directory" placeholder="Directory of Board">
   </div>

   <div class="input-container">
      <input type="text" name="board" placeholder="Board">
      <input type="text" name="purpose" placeholder="Signing Rights">
      E.g. Two members of the board, manager and directory of board
   </div>

   <div class="input-container">
      <input type="text" name="purpose" placeholder="Accountant">
      <input type="text" name="board" placeholder="Board">
   </div>

   <p>
      [Registration coming soon!]
   </p>

</div>