<div class="page">
   <h1>About us</h1>

   <div class="ruler"></div>

   <p>The City Chain Registry is a self-service registry of entities.</p>

   <p>Think of the City Chain Registry as a form for smart yellow pages, where entities can <strong>self-register and
      self-announce</strong> changes and updates related to their entities.</p>

   <p>
      This service is made available to be an alternative to centralized and nationalized registries. It is <strong>borderless and permissionless</strong>.
   </p>

   <p>Registrations in this registry <strong>does not result in any legal registration</strong> in the entity country of residence.</p>

   <p>It is your responsibility to follow local and regional laws and regulations.</p>

   <p>The registry is decentralized in nature, with a central hub, which is the City Chain Registry.</p>

   <p>The <strong>City Chain Registry CC</strong> is a crypto company registered in this registry. The crypto company
      has no physical locality or regionality, and is not registered in any national registry.</p>

   <p>
      <img class="img-full" src="assets/about.jpg">
   </p>

   <div>
      <span class="large-icon mu mu-web"></span>
      <span class="large-icon mu mu-heart"></span>
   </div>

</div>